ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #A4A4A4;
	color: darkslategray;
}

ul {
	color: #666;
	text-align: justify;
	padding: 14px 16px;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: 1px solid #bbb;
}

ul {
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

li a {
	color: #666;
}

h1 {
	color: #555555;
	padding: 14px 16px;
	background: #A4A4A4;
}

h1:hover {
	background-color: #A4A4A4;
	color: white;
}

form {
	background-color: #f3f3f3;
	padding: 16px;
}

div {
	margin-bottom: 8px;
}

input[type=submit]{
	cursor: pointer;
}

body > p {
	padding: 5px;
	background-color: #f3f3f3;
	border-left: 5px solid red;
}

div > input{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}